body.dark-theme {
    --first-color-light: hsl(var(--hue), 24%, 46%);
    --title-color: hsl(var(--hue), 4%, 95%);
    --text-color: hsl(var(--hue), 4%, 80%);
    --body-color: hsl(var(--hue), 8%, 13%);
    --scroll-bar-color: hsl(var(--hue), 4%, 32%);
    --scroll-thumb-color: hsl(var(--hue), 4%, 24%);
    --container-color: hsl(var(--hue), 8%, 16%);
    --container-2-color: #fff;
}

/*===== button dark & light =====*/
.change-theme {
    top: 2.2rem;
    right: 1.5rem;
    cursor: pointer;
    position: absolute;
    font-size: 1.8rem;
    color: var(--title-color);
}

.nav__btns {
    display: inline-flex;
    align-items: center;
    column-gap: 1rem;
}