/*===== buttons =====*/
.button {
    color: #FFF;
    transition: .3s;
    border-radius: .5rem;
    padding: 1rem 1.75rem;
    display: inline-block;
    font-weight: var(--font-medium);
    background-color: var(--first-color);

    &:hover {
        background-color: var(--first-color-alt);

        & .button__icon {
            transform: translateX(.25rem);
        }
    }

    &--flex {
        column-gap: .5rem;
        align-items: center;
        display: inline-flex;
    }

    &--link {
        color: var(--first-color);
        font-weight: var(--font-medium);

        &:hover .button__icon {
            transform: translateX(.25rem);
        }
    }
}