.tab {
    &-button {
        &[data-open="true"] {
            background-color: #000;
            animation-name: scale;
        }

        &[data-open="false"] {
            transition: background-color 250ms linear;
        }
    }

    &-nav {
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        display: flex;
        position: fixed;
        overflow: hidden;
        padding: 40px 30px;
        visibility: hidden;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--bg-black-50);
        clip-path: circle(var(--radius) at calc(100% - 55px) 47px);

        &[data-active="true"] {
            visibility: visible;
        }
    }
}

@keyframes scale {
	from {
        transform: scale(0);
	}
	to {
		transform: scale(100%);
	}
}