/*===== footer =====*/
.footer {
    &__copy {
        display: block;
        text-align: center;
        margin: 2.5rem 0 2rem;
        color: var(--text-color-light);
        font-size: var(--smaller-font-size);
    }
}