/*===== header =====*/
.header {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    transition: .3s;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

/*===== navigation =====*/
.nav {
    display: flex;
    align-items: center;
    height: var(--header-height);
    justify-content: space-between;

    &__menu {
        @media screen and (max-width: 767px){
            left: 0;
            right: 0;
            width: 90%;
            top: -100%;
            margin: 0 auto;
            position: fixed;
            padding: 2.5rem 0;
            border-radius: 2rem;
            z-index: var(--z-fixed);
            background-color: var(--body-color);
            box-shadow: 0 0 4px rgba(0, 0, 0, .1);
        }
    }

    &__list {
        display: flex;
        row-gap: 1.5rem;
        align-items: center;
        flex-direction: column;
        line-height: 2rem;
    }

    &__link,
    &__logo,
    &__toggle {
        color: var(--text-color);
        font-weight: var(--font-semi-bold);
    }

    &__link {
        cursor: pointer;
        transition: .3s;

        &:hover {
            color: var(--first-color);
        }
    }

    &__logo {
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: -1px;
        display: inline-flex;
        align-items: center;
        column-gap: .5rem;
        transition: .3s;

        &:hover {
            color: var(--first-color);
        }

        &-icon {
            font-size: 1.15rem;
            color: var(--first-color);
        }
    }

    &__toggle {
        cursor: pointer;
        font-size: 1.3rem;
    }
}

// show menu
.show-menu {
    top: calc(var(--header-height) + 1rem); // 4rem
}

// change background header
.scroll-header {
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);
}