/*===== home =====*/
.home {
    padding: 3.5rem 0 2rem;
    justify-content: center;
    margin-top: var(--header-height);

    &__container {
        row-gap: 4.5rem;
        padding-top: 5.5rem;
        position: relative;
    }

    &__data {
        max-width: 540px;
        padding-left: 3rem;
    }

    &__name {
        color: var(--text-color);
        font-size: var(--big-font-size);
    }

    &__education {
        margin-bottom: var(--mb-2-5);
        color: var(--text-color-light);
        font-weight: var(--font-medium);
        font-size: var(--small-font-size);
    }

    &__social {
        top: 2rem;
        right: -1rem;
        display: grid;
        row-gap: 3.5rem;
        cursor: pointer;
        position: absolute;
        justify-items: center;
        margin-bottom: var(--mb-1-5);

        &-follow {
            position: relative;
            transform: rotate(90deg);
            color: var(--first-color);
            font-weight: var(--font-medium);
            font-size: var(--smaller-font-size);

            &::after {
                content: '';
                top: 50%;
                right: -45%;
                width: 1rem;
                height: 2px;
                position: absolute;
                background-color: var(--first-color);
            }
        }

        &-links {
            row-gap: .25rem;
            display: inline-flex;
            flex-direction: column;
        }

        &-link {
            transition: .3s;
            font-size: 1rem;
            color: var(--first-color);

            &:hover {
                transform: translateX(.25rem);
            }
        }
    }
}