/*==== loader ====*/
/* wont use variables */
.loader {
    z-index: 150;
    width: 100%;
    height: 100vh;
    position: fixed;
    transition: none;
    overflow: hidden;
    background: #151515;

    & marquee {
        margin: 0;
        padding: 0;
        opacity: 0.2;
        color: #ffffff;
        font-size: 200px;
        font-weight: 600;
        line-height: 180px;
        text-transform: none;
        font-family: "Noto Sans Japanese", sans-serif;
    }

    & .preloader {
        top: 50%;
        left: 50%;
        position: absolute;
        text-align: center;
        transform: translate(-50%, -50%);

        & h1 {
            color: #ffffff;
            font-size: 110px;
            font-weight: 400;
            text-transform: none;
            font-family: "Outfit", sans-serif;
        }

        &-title .letter {
            line-height: 1rem;
            display: inline-block;
        }
    }
}