/*===== scroll up =====*/
.scrollup {
    right: 1rem;
    opacity: 1;
    bottom: -30%;
    padding: .5rem;
    transition: .3s;
    position: fixed;
    display: inline-flex;
    border-radius: .25rem;
    color: #fff;
    z-index: var(--z-tooltip);
    background-color: var(--first-color);
    
    &__icon {
        font-size: 1rem;
    }

    &:hover {
        opacity: 1;
        color: #fff;
        background-color: var(--first-color-alt);
    }
}

/* show scroll up */
.show-scroll {
    bottom: 3rem;
}